vendor/*
!vendor/composer/
.idea
*.ini
*.pem
*.crt
*.key
Tests/testsetup*
.DS_Store

# Darestep specific
dnssec/*
!dnssec/_readme.txt
!dnssec/completed/_readme.txt
logfile*.txt
output/
settings.ini
settings_*.ini